.main {
  padding: 37px 0 83px;
}

.main-sort {
  margin-bottom: 38px;
}

.sort-item {
  position: relative;
  padding-right: 29px;
  margin-right: 55px;
  transition: all 0.4s;
  &:last-child {
    margin-right: 0;
  }
}

.sort-item.decrease::after {
  content: "";
  position: absolute;
  background-image: url('../images/arrow-black.svg');
  background-repeat: no-repeat;
  width: 15px;
  height: 9px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.2s;
}

.sort-item.increase::after {
  content: "";
  position: absolute;
  background-image: url('../images/arrow-black.svg');
  background-repeat: no-repeat;
  width: 15px;
  height: 9px;
  right: 0;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
  transition: all 0.2s;
}

.sort-text {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-right: 48px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 35px;
}

.card {
  position: relative;
  max-width: 380px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  margin-right: 20px;
  &:nth-child(3n) {
    margin-right: 0;
  }
}

.card-sale {
  display: none;
  position: absolute;
  top: 34px;
  left: 38px;
  background: #E62D2D;
  border-radius: 10px;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  padding: 9px 19px;
}

.card-like {
  position: absolute;
  top: 34px;
  right: 32px;
  cursor: pointer;
}

.like-icon path {
  fill: white;
}

.card.liked .like-icon path {
  fill: #E62D2D;
}

.card.sale .card-sale {
  display: block;
}

.card-info {
  padding: 29px;
  background: #F3F3F3;
}

.card-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 22px;
}

.card-description {
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  border-left: 4px solid #6EBBD3;
  display: flex;
  align-items: center;
  padding-left: 22px;
  margin-bottom: 16px;
  & .color, .age, .paws {
    max-width: 89px;
    width: 100%;
  }
  & .color {
    margin-right: 20px;
  }
  & .age {
    margin-right: 10px;
  }
  & span {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    display: block;
  }
}

.card-price {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.card-buy {
  background: #6EBBD3;
  padding: 22px 55px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  border-radius: 0 0 10px 10px;
  transition: all 0.3s;
  &:hover {
    opacity: 0.7;
  }
}

.sold-out {
  background: #1F2021;
}
.more-wrapper {
  text-align: center;
  position: relative;
}

.more-cards {
  max-width: 380px;
  width: 100%;
  border: 1px solid #CACACA;
  border-radius: 10px;
  padding: 24px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.scroll-up {
  position: absolute;
  width: 59px;
  height: 59px;
  background: #6EBBD3;
  right: 0;
  bottom: -30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: bottom 0.3s;
  &::after {
    content: "";
    background-image: url('../images/arrow-white.svg');
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
  }
  &:hover {
    bottom: -20px;
  }

}

@media (max-width: 1230px) {
  .main .container {
    max-width: 810px;
  }
  .card{
    margin-right: 0;
  }
  .card:nth-child(2n+1) {
    margin-right: 20px;
  }
}

@media (max-width: 830px) {
  .main .container {
    max-width: 650px;
  }
  .card {
    max-width: 300px;
  }

  .card-description {
    padding-left: 10px;
  }
  .card-info {
    padding: 29px 15px;
    & .color {
      margin-right: 10px;
    }
  }
}

@media (max-width: 670px) {
  .main .container {
    max-width: 400px;
  }
  .sort-text {
    display: block;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .card {
    max-width: 380px;
  }
  .card-description {
    padding-left: 15px;
  }
  .card-info {
    padding: 29px;
    & .color {
      margin-right: 20px;
    }
  }
  .more-cards {
    max-width: 200px;
  }
}

@media (max-width: 410px) {
  .main .container {
    padding: 0 10px;
  }
  .card-description {
    padding-left: 10px;
  }
  .card-info {
    padding: 29px 15px;
    & .color {
      margin-right: 10px;
    }
  }
  .more-wrapper {
    text-align: left;
  }
}